#footer-app {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 0.1rem groove #fff;

    span {
        margin-right: 1rem;
    }
}