#message-el {
    position: absolute;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: var(--shadow);
    left: 0;
    right: 0;
    width: 30%;
    margin:0 auto;
    justify-content: space-around;
    align-items: center;
}